.under-header {
    margin: 0 10px;
    width: inherit;
}

.custom-container {
    max-width: 900px;
    min-height: 900px;
    width: 100%;
    margin: 0 auto 20px;
    background-color: white;
    border-radius: 6px;
    padding: 40px 5%;


    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.custom-item {
    width: 100%;
    margin-bottom: 20px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    align-self: center;
    margin-top: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}