.custom-head {
    display:flex;
    width: 100%;
    height: 100px;
    background-color:inherit;
}

.head-list {
    display:flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
    padding-left: 15px;
    width: 100%;

}

.header-item {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20px;
    font-weight: 600;
}

.header-item-right {
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: 600;
    margin-left: auto;
}

.head-link {
    color:#a6a6a6;
    text-decoration: none;
    align-self: center;
}

li.header-item :hover {
    text-decoration: none;
    color: #00aadb;
}

.header-item img {
    margin-right: 30px;
    max-width: 200px;
}

.login-marker {
    align-self: flex-end;
}


@media only screen and (max-width: 280px) {
    .header-item img {
        margin-right: 10px;
        max-width: 150px;
    }
}

@media only screen and (max-width: 184px) {
    .header-item img {
        margin-right: 0;
        max-width: 100px;
    }
}
