.marker-inner {
    display: flex;
    flex-direction: row;
    padding-right: 20px;

}

.marker-inner img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid white;
}

.enter-glyph {
    margin-right: 5px;
    color:#a6a6a6;
    align-self: center;
}
