.activity-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-bottom: 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray ;

}

.activity-item img {
    max-width: 100%;
    border-radius: 4px;
}

.activity-item h2 {
    margin-bottom: 20px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #00aadb
}


.activity-card a {
    margin-top: 20px;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: left;
}